{% extends 'base.html' %}
{% block content %}
<div class="container-with-margins">
<div class="container-about">
        <h1>Welcome to Star Connections</h1>
        <p>Discover the Shortest Path Between Two Actors</p>
        <p>Star Connections is your gateway to exploring the world of cinema connections. This platform allows you to find the shortest path between two actors, no matter how distant they may seem.</p>

        <h2>How It Works</h2>
        <p>Star Connections employs the Breadth-First Search (BFS) algorithm to navigate the intricate web of movie connections. This algorithm efficiently explores the cinematic universe, connecting actors through their roles in various films.</p>

        <h2>Kevin Bacon's Six Degrees</h2>
        <p>Have you heard of the "Six Degrees of Kevin Bacon" game? It's a fun concept that suggests any actor in Hollywood can be linked to Kevin Bacon through their film roles within six steps. Star Connections embodies this idea, allowing you to discover the shortest path between any two actors in our vast movie database.</p>

        <h2>Get Started</h2>
        <p>Ready to embark on a cinematic journey? Simply enter the names of your favorite actors, and we'll reveal the shortest path that connects them through the movies they've starred in. Start exploring the connections today!</p>
</div>
</div>
{% endblock content %}