{% extends "base.html" %} 
{% block content %}
<div id="calculating-overlay" style="display: none;">
    <div id="overlay-content">
        <p>Calculating...</p>
    </div>
</div>

<form method="post" id="calculation-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="calculate-button">Calculate</button>
</form>
{% endblock content %}
{% block scripts%}
 {% comment %} <script>
    // JavaScript function to handle form submission
    document.getElementById('calculation-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        // Display the "calculating" overlay
        document.getElementById('calculating-overlay').style.display = 'block';
    });
</script>  {% endcomment %}
{% endblock scripts %}
